@charset "utf-8";
* {
  box-sizing: border-box;
 	/*font-family: Roboto;*/
}
.header {
	position: relative;
	/*width: 100%;
	background-image: url(../images/2983.png);
	height: 916.25px;*/
	border: 0px;
}
.header>img {
	width: 100%;
	height: auto;
	margin-top: -206px;
	margin-right: -87.71px;
}
.nav {
	position: relative;
	width: 100%;
	height: 81px;
	overflow: hidden;
	border-bottom: 1px solid #CCCCCC;
}
.nav>img {
	position: relative;
	float: left;
	margin-top: 30px;
	margin-left: 18.28%;
}
.nav>ul{
	position: relative;
	list-style: none;
	float: right;
	margin-top: 30px;
	margin-right: 18.28%;
}
.nav>ul>a>li{
	display: inline-block;
	float: left;
	margin-top: 7px;
	margin-left: 15px;
	color: white;
	font-size: 16px;
	line-height: 5px;
	font-family: "Roboto";
}
.centerLeft{
	position: relative;
	margin-left: 18.28%;
	margin-top: 30px;
	line-height: 1.0;
	font-family: "Roboto";
	color: white;
	float: left;
}
.centerRight{
	position: relative;
	float: right;
	margin-top: 30px;
	margin-right: 18.28%;
	color: white;
	line-height: 1.0;
}
}
.centerRight>a>img {
	line-height: 1.0;
	margin-right: 15px;
	margin-left: 17px;
	margin-top: 15px;
}
.center{
	position: relative;
	margin-top: -1112px;
	margin-left: 18.28%;
	margin-right: 18.28%;
	margin-bottom: 124px;
	background-color: white;
	text-align: center;
	/*padding-top: 56px;*/
	padding-left: 4.35%;
	padding-right: 7%;
	padding-bottom: 124px;
	/*line-height: 1.5;*/
	height: auto;
}
.center1{
	width: auto;
	height: 724px;
	margin: 0px;
	background-color: #F6F6F6;
	padding-top: 0px;
}
#site-footer
{
  position: relative;
  background-color:#1BA0E2;
  padding-top: 82px;
 /* margin-left: 18.28%;
  margin-right: 18.28%;
  line-height:24px;*/
  color:#737373;
  width: 100%;
  height: 100%;
}
#site-footer-center{
  margin-left: 18.28%;
  margin-right: 18.28%;
  display: inline-block;
}
#site-footer-center .site-footer12{
	float: left;
	width: 30%;
}
#site-footer-center .site-footer3{
	float: left;
	width: 40%;
}
/*#site-footer-center .site-footer2{
	width: 33.33%;
}
#site-footer-center .site-footer3{
	width: 33.33%;
}*/
.site-footer12 h6{
  color: #000000;
  font-size:24px;
  font-family:'Roboto';
  margin: 0px;
} 
.site-footer12 hr {
	float: left;
	width: 37px;
	color: #C3CCD3;
}
.site-footer12>p>a{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 14px;
	line-height: 26px;
	font-family: "Lato";
}
.site-footer12>ul{
	list-style: none;
}
.site-footer12>ul>li>a{
	display: inline-block;
	text-decoration: none;
	color: white;
	font-size: 14px;
	line-height: 26px;
	font-family: "Lato";
	padding-left: 0px;
}
.site-footer3 h6{
  color: #000000;
  font-size:24px;
  font-family:'Roboto';
  margin: 0px;
  white-space: nowrap;
} 
.site-footer3 hr {
	float: left;
	width: 37px;
	color: #C3CCD3;
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
/*.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}*/
.social-icons a{
  background-color:#49B3E7;
  color:white;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  /*-webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear*/
}
@media all and (max-width: 480px) {
 
}
 
@media all and (max-width: 1024px) {
 
}
@media all and (max-width: 1280px) {
 
}
@media all and (max-width: 375px) {
 
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/*@media all and (max-width: 375px) {
  .nav ul {
    float: none;
    width: 100%;
  }
}*/